@model PseudoEstate.Agent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Licenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Licenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDtm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDtm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDtm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDtm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteDtm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteDtm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
